services:
  db:
    image: postgres:15
    container_name: odoo-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"  

  web:
    image: odoo:18.0
    container_name: odoo-web
    depends_on:
      - db
    restart: unless-stopped
    command: >
      odoo
        --db_host=db
        --db_port=5432
        --db_user=odoo
        --db_password=odoo
        --workers=0
    ports:
      - "8069:8069"
    volumes:
      - odoo-filestore:/var/lib/odoo
      - ./addons:/mnt/extra-addons

volumes:
  odoo-db-data:
  odoo-filestore:
